    // Global Variables


    // Colors

    $default-color:                   #383143 !default;
    $secondary-color:                 #333333;
    $primary-color:                   #a26bf6;
    $success-color:                  #ff3a46;
    $danger-color:                   #05bf8d;
    $warning-color:                  #ff930e;
    $info-color:                    #9657f6;
    $light-color:                   #ffffff;
    $dark-color:                    #000000;
    $overlay-color:                 rgba(56, 49, 67, 0.8);

    // Spacing 

    $sectionspace: (30,60,90); 
    $innerspace: (30, 40,50,60); 
    $sides: (top, bottom, left, right);
    $sides2: (top, bottom);

    // Typography

    $font-family-base:            'Poppins', sans-serif; 
    $font-size-base:              1.6 !default; 
    $small-font-size:             14px ; 
    $font-weight-light:           300;
    $font-weight-normal:          400 !default;
    $font-weight-medium:          500 ;
    $font-weight-semi:            700 ;
    $font-weight-bold:            900 !default;
    $line-height-base:            1.6 !default;
    $h1-font-size:                $font-size-base * 2.75;
    $h2-font-size:                $font-size-base * 2.25;
    $h3-font-size:                $font-size-base * 2;
    $h4-font-size:                $font-size-base * 1.75;
    $h5-font-size:                $font-size-base * 1.5;
    $h6-font-size:                $font-size-base * 1.25;
    $headings-color:              $secondary-color;

    $headings-font-family:        'Poppins', sans-serif;
    $headings-line-height:        1.3 !default;
    $big-font1:                   $font-size-base * 3.25;
    $big-font2:                   $font-size-base * 2.75;
    $big-font3:                   $font-size-base * 2.5;
	
	
    // Component
	
    $border:                      1px solid #d6d6d6 ;
    $box-shadow:                  0 0 20px 5px rgba(62, 60, 85, 0.06)  !default;
    $box-shadow2:                 0 0 20px 5px rgba(62, 60, 85, 0.08)  !default;
    $transition-base:             all 500ms ease !default;
    $border-radius:     0px;
    $box-radius:        10px;
    $round-radius:      100%;


    // Responsive Layout

    $desktop-device: 1195px !default;
    $laptop-device: 991px;
    $tablet-device: 768px;
    $mobile-device: 575px;



