<section class="page-title-area m-b-60">
    <div class="container">
        <div
            class="page-title-post overlay"
            {%- if page.background -%}
                style="background-image:url({{ page.background }});"
            {%- endif -%}
        >
            <div class="wrap">
                <h1>{{ page.title | escape }}</h1>

                {% if page.subtitle %}
                    <p class="m-0">{{ page.subtitle | escape }}</p>
                {% endif %}

            </div>
        </div>
    </div>
</section>
