<div class="entry-title">
    <div class="meta-info">
        <span>{{ page.date | date: '%B %d, %Y' }}</span>
        {%- for category in page.categories -%}
            <span><a href="/category/{{ category | slugify }}">
                <i class="fas fa-folder-open one"></i>&nbsp;{{ category | escape | capitalize }}
            </a></span>
        {%- endfor -%}
    </div>
    <h1>{{ page.title | escape }}</h1>
    <div class="author">
        <ul class="avatar">
            <li>
                <img src="/site-assets/images/lencse.jpg" alt="feature image" data-toggle="tooltip"
                    data-placement="top" title="Lencse" />
                </li>
        </ul>
        <div class="name">
            <span><a href="/about/">Lencse</a></span>
        </div>
    </div>
</div>
