<div class="col-lg-6">
    <div class="blog-post">
        <div class="blog-wrap">
            {%- for category in post.categories -%}
                <a
                    href="/category/{{ category | slugify }}"
                    class="feature-btn"
                    title="Category: {{ category | escape }}"
                >
                    <i class="fas fa-folder-open one"></i>{{ category | escape | capitalize }}
                </a>
            {%- endfor -%}
            <div class="author">
                <ul class="avatar">
                    <li>
                        <a href="/about/">
                            <img
                                src="/site-assets/images/lencse.jpg"
                                alt="feature image"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Lencse"
                            />
                        </a>
                    </li>
                </ul>
                <div class="post-card-date">
                    <span>
                        <a href="{{ post.url }}" title="{{ post.title | escape }}">
                            {{ post.date | date: '%B %d, %Y' }}
                        </a>
                    </span>
                </div>
            </div>
            <div class="desc">
                <h2><a href="{{ post.url }}" title="{{ post.title | escape }}">
                    {{ post.title | escape }}</a></h2>
                {% if post.summary %}
                    <p class="content-text">
                        {{ post.summary | escape }}
                    </p>
                {% endif %}
                <div class="meta-info">
                    <span>
                        {%- for tag in post.tags -%}
                            <a
                                href="/tag/{{ tag | slugify }}"
                                title="Tag: {{ tag | escape }}"
                            >
                                <i class="fas fa-tag one"></i>&nbsp;{{ tag | escape }}
                            </a>
                        {%- endfor -%}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
