<div class="row">
    <div class="col-4">
        <a href="/">
            <img
                src="/site-assets/images/header-logo.svg"
                alt="Site logo (Lencse)"
                title="Lencse blog"
            >
        </a>
    </div>
    <div class="col-8">
        <div class="themeix-menu">
            {%- include top-menu.html -%}
            <!-- <a href="#" class="search-modal" data-toggle="modal" data-target="#search-modal">
                <i class="fas fa-search"></i>
            </a> -->
        </div>
    </div>
</div>
