<ul class="slimmenu" id="main-menu">
    <li>
        <a href="/categories/">Categories</a>
        <ul>
            {%- for category in site.categories -%}
                <li>
                    <a
                        href="/category/{{ category[0] | slugify }}"
                        title="Category: {{ category[0] | escape }}"
                    >
                        {{ category[0] | escape }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
        </li>
    <li>
        <a href="/tags/">Tags</a>
        <ul>
            {%- for tag in site.tags -%}
                <li>
                    <a
                        href="/tag/{{ tag[0] | slugify }}"
                        title="Tag: {{ tag[0] | escape }}"
                    >
                        {{ tag[0] | escape }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
        </li>
    {%- for page in site.pages -%}
        {% if page.site_page %}
            <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
        {% endif %}
    {%- endfor -%}
</ul>
