<section class="banner-area m-b-60">
    <div class="container">
        <div class="banner-post">
            <div class="row d-flex align-items-stretch">
                <div class="col-md-6 col-lg-6 order-md-1">
                    <div class="thumbnail">
                        <a href="single.html"><img src="files/images/banner-img.png" alt="feature image" /></a>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center col-lg-6 order-md-0">
                    <div class="content">
                        <div class="wrap">
                            <div class="meta-info"><span>02 December, 2019</span><span><a
                                        href="single.html">Fashion</a></span></div>
                            <div class="desc">
                                <h1> <a href="single.html">If you want to be a winner, change your</a> </h1>
                                <p>Ade won't together night saying, man likeness. Is, third isn't Man moved Dry
                                    wherein wothey're sea. Face in under lesser made man Fourth in days isn't itself
                                    fourth.</p>
                            </div>
                            <div class="author">
                                <ul class="avatar">
                                    <li><a href="author.html"><img src="files/images/author-img.png" alt="feature image"
                                                data-toggle="tooltip" data-placement="top" title="Robinson" /></a></li>
                                    <li><a href="author.html"><img src="files/images/author-img2.png"
                                                alt="feature image" data-toggle="tooltip" data-placement="top"
                                                title="Mike Jome" /></a></li>
                                    <li><a href="author.html"><img src="files/images/author-img3.png"
                                                alt="feature image" data-toggle="tooltip" data-placement="top"
                                                title="Astron Loom" /></a></li>
                                </ul>
                                <div class="name">
                                    <span><a href="author.html">Robinson</a></span>
                                    <span>and 2 other </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-one">
            <img src="files/images/icon-shining.png" class="shape-one" alt="Icon" />
            <img src="files/images/icon-shining-2.png" class="shape-two" alt="Icon" />
            <img src="files/images/icon-star.png" class="shape-three" alt="Icon" />
            <img src="files/images/icon-moon-2.png" class="shape-four" alt="Icon" />
            <img src="files/images/icon-moon-3.png" class="shape-five" alt="Icon" />
        </div>
    </div>
</section>
